<div class="container mt-3">
  <% @experiences.each do | experience|%>
    <p><%= experience.nom %></p>
    <p><%= experience.description %></p>
    <p><%= experience.prix %>€</p>
     <%= link_to "Découvre cette expérience", experience_path(experience) %>
     <hr>
  <% end %>

<%= link_to "retour à la page d'accueil", root_path%>
</div>
