<div class="container">
  <div class="new">
    <h3 class= "mt-3">
      Crée une nouvelle expérience
    </h3>
    <div class="form">
      <%= simple_form_for (@experience) do |f|%>
      <%= f.input :nom %>
      <%= f.input :description %>
      <%= f.input :prix %>
      <%= f.input :adresse %>
      <%= f.button :submit %>
      <% end %>

    </div>

  </div>


</div>
