 <%= render "shared/navbar" %>
<div style="width: 100%; height: 300px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container mt-3">
  <div class="photo-container">
    <div class="photo">
      <%=image_tag asset_path (@experience.photo_url), width: 180, height: 150 %>
    </div>
    <div class="experience-card mt-3">
      <%= @experience.nom %>
      <p> <%= @experience.description%></p>
      <p><%= @experience.prix%>€</p>
      <%= @experience.adresse %>
    </div>
  </div>

   <div data-controller="toggle" class="text-center mt-5">
      <button class="btn-reserver" data-action="click->toggle#fire"> Réserver</button>
      <div data-toggle-target="toggableElement"  class="d-none">
        <%= render "reservations/form", experience: @experience, reservation: Reservation.new %>
      </div>

   </div>

  <hr>
  <%= link_to "Retour", experiences_path, class: "text-decoration-none text-dark" %>
</div>
