<%= render "shared/navbar" %>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-4">
      <div class="new">
        <h3 class= "mt-3">
          Réserve cette éxpérience
        </h3>
        <div class="form">
          <%= simple_form_for [experience, reservation] do |f| %>
          <%= f.input :date_de_debut,
            as: :string,
                input_html: {
                  data: { controller: "datepicker" }
          }%>
          <%= f.input :date_de_fin,
            as: :string,
                input_html: { data: { controller: "datepicker" }
          }%>
          <%= f.submit "Confirmer", class: "btn-reserver" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
