<%= render "shared/navbar" %>
<div class="container mt-5">
  <% if current_user&.admin? %>
  <h1>Tableau de bord de l'admin</h1>

  <% @reservations.each do |reservation| %>
    <div class="reservation-card">

      <p><strong>Utilisateur :</strong> <%= reservation.user.nickname %></p>
      <p><strong>mail  :</strong> <%= reservation.user.email %></p>
      <p><strong>Expérience :</strong> <%= reservation.experience.nom %></p>
      <p><strong>Date de début :</strong> <%= reservation.date_de_debut.strftime('%d %b %Y') %></p>
      <p><strong>Date de fin :</strong> <%= reservation.date_de_fin.strftime('%d %b %Y') %></p>
      <p><strong>Statut :</strong> <%= reservation.statut %></p>
    <div>
        <%= link_to 'Modifier le statut', edit_reservation_path(reservation), class: 'btn btn-primary' %>
    </div>

      </div>
   
    <hr>
  <% end %>
<% else %>

<%= link_to "Retour aux expériences", experiences_path, class:"text-decoration-none text-dark mt-3"%>
    <div class="row d-flex justify-content-center">
      <div class="col-4">
      <% if @reservations.any? %>
        <% @reservations.each do |r| %>
         <div class="reservation-card">
          <p><%= r.experience.nom %></p>
          <p>du <%= r.date_de_debut.strftime("%d/%m/%Y") %> au <%= r.date_de_fin.strftime("%d/%m/%Y")%></p>
          <p><%= r.experience.prix %> euros</p>
          <p>
            <%= r.statut %>
          </p>
          <% if Date.today < r.date_de_debut %>
            <p>Votre réservation n'a pas encore commencé </p>
          <% elsif Date.today > r.date_de_fin %>
            <p>Votre réservation est terminée </p>
          <% else %>
            <p>Votre réservation est en cours </p>
          <% end %>
          </div>
        <% end %>
        <% else %>
          <p>Vous n'avez pas de réservation en cours</p>
        <% end %>
    </div>
  </div>
</div>
<% end %>
